<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DefaultDirectoryPath" value="" />
    <add key="DefaultExcelFilePath" value="C:\Users\Isaac\Downloads" />
    <add key="AcceptFileExtension" value=".doc;.docx;.pdf" />
  </appSettings>
</configuration>